.list__list-wrapper {
    height: 100%;
    overflow: auto;
    transition: background-color 0.2s cubic-bezier(0.2, 0, 0, 0.1);
}

.list__list {

    & > * {
        margin-bottom: 10px;
    }
}

.list__list--highlighted {
    background-color: lightskyblue;
}

.list__list--translate-smooth {
    & > * {
        transition: transform 0.2s cubic-bezier(0.2, 0, 0, 0.1);
    }
}

.list__item-placeholder {
    box-sizing: border-box;
    border: 2px dashed black;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    z-index: -9999;
    opacity: 0.5;
    transition: height 0.2s cubic-bezier(0.2, 0, 0, 0.1);
}

.list__item--translate-instant {
    transition: none;
}