.grid {
    display: grid;
    position: relative;
    grid-auto-rows: 1fr;

    &__placeholder {
        box-sizing: border-box;
        border: 3px dashed black;
        background-color: #F1F1F1;
        border-radius: 5px;
        pointer-events: none;
    }

    &--highlighted {
        animation: blinking 2s infinite;
    }
}

// Items' classes \\

$maxNumberOfColumns: 20;
$maxNumberOfRowsForElement: 20;

@for $width from 1 through $maxNumberOfColumns {
    .grid-width-screen-#{$width} {
        grid-column-start: span $width;
    }
}

@for $height from 1 through $maxNumberOfRowsForElement {
    .grid-height-screen-#{$height} {
        grid-row-start: span $height;
    }
}

// Animation \\

@keyframes blinking {
    0%{
      background-color: #e6ffff;
    }
    50%{
      background-color: #b3e5fc;
    }
    100%{
      background-color: #e6ffff;
    }
  }