.item__item-wrapper {
    border: 2px solid white;
    box-sizing: border-box;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    background-color: #2F56A8;
    cursor: grab;
    user-select: none;
    -moz-user-select: none;
}

.item__title {
    font-weight: bold;
    color: white;
    line-height: 40px;
}