html, body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    height: 100%;
    box-sizing: border-box;
    background-color: #e0edf1;
    padding: 3% 5%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#toolbox {
    height: 100%;
    width: 30%;
}

#space {
    height: 100%;
    flex-grow: 1;
}

#list {
    height: 100%;
    width: 60%;
}

.container {
    background-color: #6B83C0;
    padding: 20px 50px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    overflow: auto;
}