html, body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

#app-wrapper {
    height: 100%;
    box-sizing: border-box;
    background-color: #e0edf1;
    padding: 2% 4%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#left-wrapper {
    display: flex;
    flex-direction: column;
    width: 47%;
}

#right-wrapper {
    width: 47%;
    color: white;
    text-align: center;
}

#right-list-wrapper {

    height: 3000px;
    overflow: auto;
    
    & > div {
        margin-top: 0px;
        height: 500px;
    }
}

#toolbox {
    margin-bottom: 10px;
}

#space {
    height: 100%;
    flex-grow: 1;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #6B83C0;
    padding: 20px 50px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    overflow: auto;
}

.container__list--left {
    padding-left: 0px;
    padding-right: 0px;

    & > div {
        padding-left: 40px;
        padding-right: 40px;
    }

}

.container__list--right {
    padding-left: 0px;
    padding-right: 0px;
    
    & > div {
        padding-left: 40px;
        padding-right: 40px;
    }
}