.grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-column-gap: (12% / 7);
    grid-row-gap: 30px;

    &__placeholder {
        box-sizing: border-box;
        border: 2px dashed rgba(#000, 0.3);
        background-color: white;
        border-radius: 5px;
        pointer-events: none;
    }
}

// Items' classes \\

$maxNumberOfColumns: 8;
$maxElementNumberOfRows: 8;

@for $width from 1 through $maxNumberOfColumns {
    .grid-width-screen-#{$width} {
        grid-column-start: span $width;
    }
}

@for $height from 1 through $maxElementNumberOfRows {
    .grid-height-screen-#{$height} {
        grid-row-start: span $height;
    }
}