.grid {
    height: 100%;
    width: 100%;
    display: grid;
    position: relative;
    grid-column-gap: (12% / 7);
    grid-row-gap: 30px;
    grid-auto-rows: 1fr;

    &__placeholder {
        box-sizing: border-box;
        border: 3px dashed black;
        background-color: #F1F1F1;
        border-radius: 5px;
        pointer-events: none;
    }
}

// Items' classes \\

$maxNumberOfColumns: 8;
$maxNumberOfRowsForElement: 8;

@for $width from 1 through $maxNumberOfColumns {
    .grid-width-screen-#{$width} {
        grid-column-start: span $width;
    }
}

@for $height from 1 through $maxNumberOfRowsForElement {
    .grid-height-screen-#{$height} {
        grid-row-start: span $height;
    }
}