.item-factory {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    user-select: none;
    -moz-user-select: none;

    &--dark {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
        border: 1px solid #546E7A;

        .item-factory__body {
            background-color: #424242;
            color: #4FC3F7;
        }
    }

    &__header {
        height: 30px;
    }

    &__body {
        background-color: white;
        padding: 30px;
        flex-grow: 1;
        display: flex;
        text-align: center;
        justify-content:center;
        flex-direction:column;
    }

    &__body-text {
        font-weight: bold;
        white-space: nowrap;
    }
}