.toolbox-item {
    cursor: grab;
    text-transform: uppercase;
    height: 35px;
    color: $primary;
    border-bottom: 1px solid $primary;
    background-color: white;
    user-select: none;
    display: flex;
    margin: 10px;

    &:hover {
        background-color: #dfebf9;
        transition: all 0.5s;
    }

    &__icon {
        height: 17px;
        padding: 9px;
    }

    &__text {
        font-size: 14px;
        font-weight: bold;
        line-height: 36px;
    }
}